---
kind: Secret
apiVersion: v1
metadata:
  name: database
  namespace: {{ ccd_namespace }}
stringData:
  user_password: {{ ccd_database_user_password_fact }}
  chemcentral_user_password: {{ ccd_database_chemcentral_user_password_fact }}
