---

yaml-files:
- '*.yaml'
- '*.yml'
- '.yamllint'

ignore: |
  .github/
  roles/pipeline/templates/job-pipeline-poster.yaml.j2
  roles/squonk/templates/job-flyway.yaml.j2
  roles/squonk/templates/deployment-jobexecutor.yaml.j2
  roles/squonk/templates/deployment-chemservices.yaml.j2
  roles/squonk/templates/deployment-cellexecutor.yaml.j2
  roles/squonk/templates/deployment-portal.yaml.j2
  roles/squonk/templates/deployment-coreservices.yaml.j2
  roles/squonk/templates/deployment-chemcentral-search.yaml.j2
  roles/squonk/templates/deployment-website.yaml.j2
  roles/squonk/templates/statefulset-rabbitmq.yaml.j2
  roles/chemcentral-database/templates/job-loader.yaml.j2
  roles/chemcentral-database/templates/statefulset.yaml.j2

rules:
  indentation:
    spaces: 2
    indent-sequences: no
  trailing-spaces: {}
  truthy:
    allowed-values:
    - 'yes'
    - 'no'
    - 'true'
    - 'false'
  new-lines:
    type: unix
  new-line-at-end-of-file: enable
  key-duplicates: {}
  hyphens:
    max-spaces-after: 1
  empty-lines:
    max: 1
  document-start:
    present: yes
  document-end:
    present: no
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: 1
