---

# Squonk playbook/role parameter template file.
# Tune accordingly and replace all "SetMe" values with something meaningful.

sq_namespace: squonk
sq_workdir_volume_storageclass: efs

sq_db_password: SetMe
sq_portal_keycloak_client_secret: SetMe

sq_keycloak_hostname: SetMe
sq_keycloak_admin_user: ''
sq_keycloak_admin_user_password: ''

sq_je_hostname: SetMe
sq_je_cert_issuer: staging
sq_portal_hostname: SetMe
sq_portal_cert_issuer: staging
