---

# If using the cert-manager...
# the Cert-Manager issuers for external ingress
# (one of 'staging' or 'production')
sq_cert_issuer: production

# The Squonk CellExecutor Pod environment
sq_pod_env: ''

sq_pod_log_history: 100
sq_nextflow_image: informaticsmatters/nextflow:20.07.1

# CPU and Memory Requests and Limits
# for the various Pods (Deployments) we have.
#
# All out Pods *MUST* have a request (CPU and Memory)
# but if a limit is 0 then a limit is not set.
# Remember - if you do not set a limit but do deploy a limit-range object
# (as we do) then the limit you do not set will be set by the limit-range object.
sq_cell_cpu_request: 100m
sq_cell_mem_request: 700Mi
sq_cell_cpu_limit: 4
sq_cell_mem_limit: 5Gi
sq_cell_java_tool_options: -Xmx4096m

sq_chem_cpu_request: 1
sq_chem_mem_request: 2Gi
sq_chem_cpu_limit: 4
sq_chem_mem_limit: 5Gi
sq_chem_java_tool_options: -Xmx4096m

sq_ccs_cpu_request: 100m
sq_ccs_mem_request: 1800Mi
sq_ccs_cpu_limit: 1
sq_ccs_mem_limit: 5Gi
sq_ccs_java_tool_options: -Xmx4096m

sq_core_cpu_request: 200m
sq_core_mem_request: 800Mi
sq_core_cpu_limit: 1
sq_core_mem_limit: 5Gi
sq_core_java_tool_options: -Xmx4096m

sq_je_cpu_request: 100m
sq_je_mem_request: 1700Mi
sq_je_cpu_limit: 4
sq_je_mem_limit: 5Gi
sq_je_java_tool_options: -Xmx4096m

sq_portal_cpu_request: 100m
sq_portal_mem_request: 1Gi
sq_portal_cpu_limit: 2000m
sq_portal_mem_limit: 3Gi
sq_portal_java_tool_options: -Xmx2048m

sq_web_cpu_request: 100m
sq_web_mem_request: 32Mi
sq_web_cpu_limit: 500m
sq_web_mem_limit: 32Mi

# Squonk images (tags are defined in defaults)
sq_flyway_image: squonk/flyway

# Ingress adjustments (nginx)
# Maximum upload body size
sq_nginx_client_max_body_size: 100m

# RabbitMQ configuration ------------------------------------------------------

# The RabbitMQ image tag.
# We deploy using hte image tag '<version>-management-alpine'.
sq_rabbitmq_version: 3.6.16

sq_rabbitmq_cpu_request: 100m
sq_rabbitmq_mem_request: 200Mi
sq_rabbitmq_cpu_limit: 250m
sq_rabbitmq_mem_limit: 400Mi

# RabbitMQ passwords and cookies
# Set but you cannot change this once RabbitMQ had been deployed
sq_rabbitmq_default_user_password: "{{ lookup('password', '/dev/null length=10 chars=ascii_letters,digits') }}"
# Set but you cannot change this once RabbitMQ had been deployed
sq_rabbitmq_erlang_cookie: "{{ lookup('password', '/dev/null length=96 chars=ascii_letters,digits') }}"

# Variables for the Keycloak realm manager
# Set or leave for automatic assignment
sq_keycloak_realm_manager: manager
sq_keycloak_realm_manager_password: "{{ lookup('password', '/dev/null length=12 chars=ascii_letters,digits') }}"

# General variables -----------------------------------------------------------

# General timeout, generally used within the k8s module,
# for wait duration
wait_timeout: 600
# Volume binding timeout (seconds)
bind_timeout: 120

# Valid certificate issuers
# For the kubernetes certificate manager
cert_issuers:
- staging
- production

# Keycloak credentials --------------------------------------------------------

# Either leave unset (where credentials will be obtained from the
# infrastructure namespace on the cluster) or set them, usually when
# using a remote keycloak server.
#
# Normally these are left unset or they're provided by AWX custom credentials.

keycloak_server_url: ''
keycloak_admin: ''
keycloak_admin_password: ''
