---
kind: Job
apiVersion: batch/v1
metadata:
  name: {{ pipeline_name }}
  namespace: {{ pipeline_namespace }}
spec:
  selector:
    name: {{ pipeline_name }}
  template:
    metadata:
      labels:
        name: {{ pipeline_name }}
    spec:
      serviceAccountName: {{ pipeline_namespace_service_account }}

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ pipeline_node_purpose }}

      initContainers:
      - image: yauritux/busybox-curl
        name: wait-for-core-before-pipelines-post
        command:
        - 'sh'
        - '-c'
        - 'until (( curl http://coreservices:8080/rest/ping --connect-timeout 5 )); do sleep 2; done'

      containers:
      - image: {{ pipeline_registry }}/{{ pipeline_repository }}:{{ pipeline_tag }}
        name: {{ pipeline_name }}
{% if pipeline_tag == 'latest' %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        env:
        - name: IMAGE_TAG
          value: {{ pipeline_tag }}
{% if pipeline_registry|length > 0 %}
        - name: IMAGE_REGISTRY
          value: {{ pipeline_registry }}
{% endif %}
{% if pipeline_pull_secret_name|length > 0 %}
        - name: IMAGE_PULL_SECRET
          value: {{ pipeline_pull_secret_name }}
{% endif %}
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 32Mi
{% if pipeline_pull_secret_name|length > 0 %}
      imagePullSecrets:
      - name: {{ pipeline_pull_secret_name }}
{% endif %}

      restartPolicy: Never
