---
kind: ConfigMap
apiVersion: v1
metadata:
  name: portal-sso-config
  namespace: {{ sq_namespace }}
data:
  keycloak.json: |
    {
      "realm": "{{ sq_keycloak_realm }}",
      "auth-server-url": "https://{{ sq_keycloak_hostname }}/auth",
      "ssl-required": "external",
      "disable-trust-manager": true,
      "resource": "{{ sq_portal_keycloak_client_id }}",
      "use-resource-role-mappings": false,
      "credentials": { "secret": "{{ sq_portal_keycloak_client_secret }}" }
    }
  context.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <Context>
      <Valve className="org.keycloak.adapters.tomcat.KeycloakAuthenticatorValve"/>
    </Context>
