---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: cellexecutor
  namespace: {{ sq_namespace }}
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: cellexecutor
  template:
    metadata:
      name: cellexecutor
      labels:
        name: cellexecutor
    spec:
      serviceAccountName: {{ sq_namespace_service_account }}

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ sq_node_purpose }}

      containers:
      - name: cellexecutor
        image: squonk/cellexecutor:{{ sq_image_tag }}
{% if sq_image_tag == 'latest' %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        env:
        - name: RABBITMQ_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: rabbitmq
              key: host
        - name: RABBITMQ_SQUONK_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rabbitmq
              key: default_user_password
        - name: SQUONK_CONTAINER_RUNNER_TYPE
          value: openshift
        - name: SQUONK_DOCKER_WORK_DIR
          value: /squonk/work/docker
        - name: SQUONK_CELL_JOB_PROJECT_NAME
          value: {{ sq_namespace }}
        - name: SQUONK_SERVICE_ACCOUNT
          value: {{ sq_namespace_service_account }}
        - name: SQUONK_POD_BASE_NAME
          value: squonk-cell-pod
        - name: SQUONK_POD_ENVIRONMENT
          valueFrom:
            secretKeyRef:
              name: squonk-app-secrets
              key: pod-env
        - name: SQUONK_POD_LOG_HISTORY
          value: "{{ sq_pod_log_history }}"
        - name: SQUONK_NEXTFLOW_IMAGE
          value: {{ sq_nextflow_image }}
        - name: SQUONK_WORK_DIR_PVC_NAME
          value: workdir
        - name: SQUONK_DEBUG_MODE
          value: "0"
        - name: SQUONK_POD_DEBUG_MODE
          value: "0"
        - name: SQUONK_POD_START_GRACE_PERIOD_M
          value: "5"
        - name: JAVA_TOOL_OPTIONS
          value: "{{ sq_cell_java_tool_options }}"
#        - name: JAVA_OPTS
#          value: "-Djava.util.logging.config.file=/logging.properties"
        ports:
        - name: http
          containerPort: 8080
        resources:
          limits:
            cpu: {{ sq_cell_cpu_limit }}
            memory: {{ sq_cell_mem_limit }}
          requests:
            cpu: {{ sq_cell_cpu_request }}
            memory: {{ sq_cell_mem_request }}
        volumeMounts:
        - mountPath: /squonk/work/docker
          name: squonk-work-dir

      volumes:
      - name: squonk-work-dir
        persistentVolumeClaim:
          claimName: workdir
