---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: coreservices
  namespace: {{ sq_namespace }}
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: coreservices
  template:
    metadata:
      name: coreservices
      labels:
        name: coreservices
    spec:
      serviceAccountName: squonk

      # A 'preferred' (not guaranteed)
      # node selection affinity...
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: purpose
                operator: In
                values:
                - {{ sq_node_purpose }}

      containers:
      - name: coreservices
        image: {{ sq_image_registry }}/squonk/coreservices:{{ sq_image_tag }}
{% if sq_image_tag in ['latest', 'stable'] %}
        imagePullPolicy: Always
{% else %}
        imagePullPolicy: IfNotPresent
{% endif %}
        terminationMessagePolicy: FallbackToLogsOnError
        env:
        - name: RABBITMQ_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: rabbitmq
              key: host
        - name: RABBITMQ_SQUONK_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rabbitmq
              key: default_user_password
        - name: POSTGRES_HOSTNAME
          value: database.{{ sq_infra_namespace }}.svc
        - name: POSTGRES_SQUONK_DATABASE
          valueFrom:
            secretKeyRef:
              name: database-secrets-{{ sq_infra_database }}
              key: database_name
        - name: POSTGRES_SQUONK_USER
          valueFrom:
            secretKeyRef:
              name: database-secrets-{{ sq_infra_database }}
              key: database_user
        - name: POSTGRES_SQUONK_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database-secrets-{{ sq_infra_database }}
              key: database_user_password
        - name: SQUONK_BASIC_CHEM_SERVICES_URL
          value: http://chemservices:8080
        - name: SQUONK_DOCKER_SERVICES_DIR
          value: /var/local/squonk-docker-services
        - name: JAVA_TOOL_OPTIONS
          value: "{{ sq_core_java_tool_options }}"
{% if sq_image_tag in ['latest', 'stable'] %}
        # CICD_TRIGGER_ID is variable whose value is used to force
        # a redeployment of the underlying containers. This is used in
        # situations where the origin image's tag may not have changed
        # (e.g. it's 'latest' or 'stable') but a new build is expected to
        # be available. Without changing something in the Deployment spec
        # a roll-out will not occur if the tag has not changed.
        - name: CICD_TRIGGER_ID
          value: '{{ ansible_date_time.iso8601_micro }}'
{% endif %}
        ports:
        - name: http
          containerPort: 8080
        livenessProbe:
          httpGet:
            path: /coreservices/rest/ping
            port: 8080
          failureThreshold: 3
          successThreshold: 1
          initialDelaySeconds: 30
          timeoutSeconds: 5
          periodSeconds: 60
        resources:
          limits:
{% if sq_core_cpu_limit %}
            cpu: {{ sq_core_cpu_limit }}
{% endif %}
{% if sq_core_mem_limit %}
            memory: {{ sq_core_mem_limit }}
{% endif %}
          requests:
            cpu: {{ sq_core_cpu_request }}
            memory: {{ sq_core_mem_request }}
