---

# Ingress definition that acts for the Squonk-specific website,
# Squonk notebook (portal) and the JobExecutor.

kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: squonk
  namespace: {{ sq_namespace }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ sq_cert_issuer|lower }}"
    nginx.ingress.kubernetes.io/cors-allow-origin: "*"
    nginx.ingress.kubernetes.io/enable-cors: 'true'
    nginx.ingress.kubernetes.io/proxy-body-size: "{{ sq_nginx_client_max_body_size }}"
spec:
  tls:
  - hosts:
    - {{ sq_hostname }}
    secretName: squonk-tls
  rules:
  - host: {{ sq_hostname }}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: website
            port:
              name: http
      - path: /portal
        pathType: ImplementationSpecific
        backend:
          service:
            name: portal
            port:
              name: http
      - path: /jobexecutor
        pathType: ImplementationSpecific
        backend:
          service:
            name: jobexecutor
            port:
              name: http
