---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  name: portal-ingress
  namespace: {{ sq_namespace }}
  annotations:
    ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ sq_portal_cert_issuer|lower }}"
spec:
  tls:
  - hosts:
    - {{ sq_portal_hostname }}
    secretName: portal-tls
  rules:
  - host: {{ sq_portal_hostname }}
    http:
      paths:
      - path: /
        backend:
          serviceName: portal
          servicePort: http
