---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: squonk-psp-unrestricted-sa
  namespace: "{{ sq_namespace }}"
roleRef:
  kind: Role
  name: squonk-psp-unrestricted
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: "squonk"
  namespace: "{{ sq_namespace }}"
