---
kind: Secret
apiVersion: v1
metadata:
  name: rabbitmq
  namespace: {{ sq_namespace }}
stringData:
  host: rabbitmq.{{ sq_namespace }}.svc
  default_user_password: {{ sq_rabbitmq_default_user_password_fact }}
  erlang_cookie: {{ sq_rabbitmq_erlang_cookie_fact }}
