---
kind: Secret
apiVersion: v1
metadata:
  name: database
  namespace: {{ ccs_namespace }}
stringData:
  user_password: {{ ccs_database_user_password_fact }}
  chemcentral_user_password: {{ ccs_database_chemcentral_user_password_fact }}
